
<h3>About</h3>

<a href='/'>CancerMiner.org</a> is a comprehensive resource for
discovery and prioritization of functional
miRNA-mRNA target interactions and relationships in human cancer using 
molecular datasets from <a href = 'http://cancergenome.nih.gov'>The
  Cancer Genome Atlas</a>.
<br><br>

The resource is developed and maintained at <a href ='http://cbio.mskcc.org'>cBio</a>, the Computational Biology Center at
Memorial Sloan-Kettering Cancer Center (MSKCC). The work has been funded by a grant
from <a href="http://fivu.dk/en/research-and-innovation/councils-and-commissions/the-danish-council-for-independent-research/the-council-1/the-danish-council-for-independent-research-medical-sciences?set_language=en&cl=en">The
  Danish Council for Strategic Research</a>. For inquiries about the
web site and data, please contact <%= mail_to "jacobsen@cbio.mskscc.org", "Anders Jacobsen" %>.

<br><br>

<a href="http://www.mskcc.org"><img style="height:40px" src='<%= asset_path("msk_logo.png") %>'/></a>
<a href="http://cbio.mskcc.org"><img style="height:30px" src='<%= asset_path("cbio_logo.png") %>'/></a>

<br><br>
