<h3>Download</h3>

Download a snapshot of the CancerMiner database:
<br>
<a href="https://drive.google.com/file/d/0BzhT7Wh0E922MGFkR2dMZ0xuTVk/edit?usp=sharing">CancerMiner v.1.0 data snapshot</a>

<br><br>
Download raw input datasets (miRNA expression, mRNA expression, DNA
copy number and methylation profiles) used for analysis in the <i><a href="http://www.nature.com/nsmb/journal/v20/n11/full/nsmb.2678.html">Jacobsen et
al.</a></i> study:
<br>
<a href="https://drive.google.com/file/d/0BzhT7Wh0E922eWg0RHdUdjZuRzA/edit?usp=sharing">Datasets used in Jacobsen et al. study</a>
